body {
    background-color: lavender;
}

.hidden{
    display: none;
}
.textbox{
    display: flex;
    max-height: 75px;
}
.upgrades{
}

.item{
    max-width: 150px;
    display:flex;
    flex-direction: column;
    text-align: center;
    border: black 2px solid;
    background-color: aliceblue;
}
.itemText{
    border-bottom: black 2px dashed;
    background-color: orange;
}